*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    color: #FFFFFF;
    padding: 35px 100px;
}

nav ul {        
    display: flex;
    gap: 50px;
}
nav a{
    color: black;
    font-size: 15px;
}

nav button{
    all: unset;
    background-color: #F25F3A;
    color: white;
    padding: 15px 22px;
    border-radius: 100px;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

main div{
    width: 45%;
}

main h1{
    font-size: 50px;
    font-weight: 800;
    color: #242D52;
}

main p{
    color: gray;
    margin: 16px 0 48px;
}

main button{
    all: unset;
    background-color: #F25F3A;
    color: white;
    padding: 15px 22px;
    border-radius: 100px;
    cursor: pointer;
}


section{
    display: flex;
    padding: 30px 100px;
    gap: 100px;
}

 .buttons button{
    all: unset;
    background-color: #F25F3A;
    color: white;
    padding: 15px 22px;
    border-radius: 100px;
    cursor: pointer;
}

#product h1{
    font-weight: 700;
    font-size: 40px;
    color: #242D52;
}

#product p{
    padding: 30px 0;
    color: gray;
}

section h4{
    all: unset;
    background-color: #F25F3A;
    color: white;
    padding: 10px 22px;
    border-radius: 100px;
}

.first{
    display: flex;
    align-items: center;
    gap: 40px;
    color: #242D52;
    font-size: 15px;
}

.second{
    display: flex;
    align-items: center;
    gap: 40px;
    color: #242D52;
    font-size: 15px;
}

.third{
    display: flex;
    align-items: center;
    gap: 40px;
    color: #242D52;
    font-size: 15px;
}

#list{
    padding: 30px 100px;

}

#list p{
    padding: 30px 0;
    margin-left: 18%;
}

article h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 70px;
}

.testimony{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.testimony div{
    text-align: center;
    background-color: #FFEFEB;
    padding: 50px 0;
}

.buttons{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.testimony img{
    width: 85px;
}

.testimony h2{
    font-size: 15px;
}

.testimony p{
    font-size: 85%;
    color: gray;
}

#down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #F25F3A;
}

#down h1{
    font-size: 40px;
    font-weight: 700;
    margin-right: 18%;
    color: #FFFFFF;
}

#down button{
    all: unset;
    padding: 15px 22px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #F25F3A;
    margin-left: 75%;
}

#down div{
    width: 45%;
    padding: 3dvh 0;

}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #1D1E25;
}

#footer a{
    color: white;
}

footer .center{
    display: flex;
    gap: 60px;
}

footer .center li{
    margin: 20px;
}

#footer p{
    color: white;
    font-size: 12px;
    margin-top: 70px;
}

.input button{
    all: unset;
    background-color: #F25F3A;
    color: white;
    padding: 15px 22px;
    border-radius: 100px;
    cursor: pointer;
}

input{
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.input{
    display: flex;
    gap: 20px;
}

#footer a:hover{
    color: #F25F3A;
}

.under ul{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

@media screen and (max-width:992px) {
    nav, main, section, footer{
        padding: 50px 20px;
    }

    main img{
        width: 120%;
    }

    nav ul{
        gap: 20px;
    }

    nav a{
        font-size: 14px;
    }

    main h1{
        font-size: 40px;
    }

    main div{
        gap: 20px;
    }

    #product h1{
        font-size: 35px;
    }

    article h1{
        font-size: 35px;
    }

    #down button{
        margin-left: 130px;
    }

    #down h1{
        font-size: 35px;
    }

    .testimony{
        grid-template-columns: repeat(2, 2fr);
        padding: 30px 30px;
    }

    #footer a{
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    #footer{
        flex-direction: column;
    }

    nav, main, footer, section{
        padding: 20px 20px;
    }

    nav a{
        font-size: 11px;
    }

    nav ul{
        gap: 12px;
    }

    button{
        padding: 10px 20px;
        font-size: 12px;
    }

    main h1{
        font-size: 30px;
    }

    main img{
        width: 100%;
    }

    #list{
        padding: 10px;
    
    }

    section{
        gap: 40px;
    }

    #down{
        padding: 1rem;
    }

    #down div{
        width: 60%;
        padding: 3dvh 0;
    }

    #down h1{
        font-size: 30px;
        font-weight: 600;
    }
}

@media screen and (max-width:576px) {
    nav button{
        display: none;
    }

    nav ul{
        display: none;
    }

    main{
        flex-direction: column-reverse;
    }

    main div{
        width: 80%;
    }

    main h1{
        text-align: center;
    }

    main p{
        text-align: center;
    }

    section div{
        width: 100%;
    }

    section{
        text-align: center;
        display: grid;
    }

    .first, .second, .third{
        gap: 15px;
    }

    #product h1{
        font-size: 20px;
    }

    .first h4{
        font-size: 12px;
    }

    .first h2{
        font-size: 18px;
    }

    .second h4{
        font-size: 12px;
    }

    .second h2{
        font-size: 18px;
    }

    .third h4{
        font-size: 12px;
    }

    .third h2{
        font-size: 18px;
    }

    html, body{
        scroll-behavior: smooth;
    }

    article h1{
        font-size: 30px;
    }

    .testimony{
        grid-template-columns: repeat(1, 1fr);
    }

    #down h1{
        font-size: 25px;
    }

    #down div{
        width: 55%;
    }

    #list p{
        padding: 30px 0;
        margin-left: 0;
    }

    section{
        text-align: left;
    }

    .manage{
        text-align: center;
    }

    main button{
        margin-left: 5rem;
        padding: 10px 20px;
        font-size: 13px;
    }

    #down button{
        padding: 8px 20px;
        font-size: 13px;
    }

    .buttons button{
        padding: 8px 20px;
        font-size: 13px;
    }

    .input button{
        padding: 8px 20px;
        font-size: 13px;
    }

    #footer a{
        font-size: 13px;
    }

    #down {
        flex-direction: column;
    }

    #down button{
        text-align: center;
    }

    #down div{
        width: 100%;
    }

    



} 






    
    

